.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  .page-title {
    margin:0.2em;
  }

  .search {

  }

  .top-nav {
    display: flex; justify-content: space-between;
    width:230px;
    .icons{
      font-size:23px; color:black;
    }
    .avatar{
      cursor:pointer;
    }
  }

}

.items{
	width:235px; height:36px;
	font-size:14px; line-height:36px;
}
.logout{
	border-top:1px solid #dbdbdb;
}
