.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  .page-title {
    margin:0.2em;
  }

  .search {

  }

  .top-nav {
    .icons{
      font-size:23px;
      margin:0.5em;
      color:black;
    }
  }

}

