.wrapper {
	display: grid; grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "postList postList sidebar";
	width: 975px; max-width: 100%;
  	margin-top:30px;
	
	.postList{
		grid-area:postList;
		
	}
	
	.sidebar{
		grid-area:sidebar;
		
	}
}