.profile{
  width:100%; grid-area:content;
  .userInfo{
    width:100%; height:225px; border-bottom:1px solid #dbdbdb;
    display:flex;
    .avatar{
      flex-grow: 2; text-align:center; line-height:225px;
    }
    .userDesc{
      flex-grow: 8; margin-left: 60px;
      .username{
        height:70px; font-size:30px; line-height:1; padding-top:40px;
        .btn{
          font-weight:bold; padding:7px; margin-left:20px;
          color:black;
        }
      }
      .action{
        font-size:17px; margin-top:20px;
        span{
          margin-right:30px;
        }
      }
    }
  }
  .posts{
    .postsTitle{
      height:50px; display:flex; justify-content:center;
      line-height:50px;
      .postMenu{
        margin:0 30px; color:#9a918f; font-weight:bold;
        font-size:14px;
      }
      .postMenu:first-child{
        color:black; border-top:1px solid black;
      }
    }
    .postsContents{
      display:flex; justify-content: space-between;
      flex-wrap:wrap; align-content: space-around;
    }

  }
}