.logo{
  margin-bottom:30px;
}
.facebook-login{
  display: flex; justify-content: center;
  margin-top:10px;
  .facebook-desc{
    font-size:14px; font-weight:bold; color:#385185;
    margin-left:0.5em;
  }
}
.forgot-pwd{
  text-align: center; font-size:12px; line-height: 14px;
  margin-top:20px; margin-bottom:20px;
}

